# Ignore compiled Java class files
*.class

# Ignore build and target directories
/build/
/target/

# Ignore IDE-specific folders
.vscode/
/.idea/

# Ignore OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows